@keyframes movimiento{
    0%{
        transform: translate(0) translateZ(0)
    }
    50%{
        transform: translateY(10px) translateZ(0)}
        to{transform: translate(0) translateZ(0)}
}
@keyframes humo-derecha{
    from{
        opacity: 0;
        transform: matrix(1, 0, 0, 1, -50, 50);
    }
    to{
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}
@keyframes humo-izquierda{
    from{
        opacity: 0;
        transform: matrix(1, 0, 0, 1, 50, 50);
    }
    to{
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}
@keyframes slideRight {
	from {
        transform: translateX(-100%);
        opacity: 0;       
    }
    to{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }	
}